.AppButton {
  appearance: none;
  padding: 16px 24px;
  border-radius: 999em;
  box-shadow: none;
  border: 1px solid #eaeaea;
  cursor: pointer;
  transition: 0.12s ease-in;
  &:hover {
    background: #f7f7f7;
    transition: 0.12s ease-out;
  }
  &._s {
    font-size: 12px;
    padding: 8px 12px;
    &._circle {
      text-align: center;
      width: 36px;
      height: 36px;
      line-height: 36px;
      padding: 0;
    }
  }
  &._m {
    font-size: 14px;
    padding: 16px 24px;
    &._circle {
      padding: 16px;
    }
  }
}
